<form action="" class="blog-form" method="POST">
    <div class="blog-form__title">
        <label for="title">Blog Title</label>
        <input name="title" type="text">
    </div>
    <div class="blog-form__author">
        <label for="author">Author Name</label>
        <input name="author" type="text">
    </div>
    <div class="blog-form__title">
        <label for="image">Image</label>
        <input name="image"type="text" placeholder="put de Url">
    </div>
    <div class="blog-form__title">
        <label for="body">Body</label>
        <textarea name="body" id="" cols="30" rows="10"></textarea>
    </div>
    <button class="blog-form__btn" type="submit">Send</button>
</form>