<body>
    <header>
        <div class="wrapper">
            <b>Codeable News</b>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/">Pricing</a></li>
                    <li><a href="blog/new">New</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="container">
        <%= erb :_post %>
    </main>
